@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";
.btn{
  min-width: 10rem;
  text-align: left;
}

.card{
  &:hover{
    background: $gray-700;
  }
}
