:root {
  --bs-body-font-size: 1rem;
}

@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";
// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
/* stylelint-disable */
//
//#main-wrapper{
//  padding: 0 0.5rem 0 0.5rem !important;
//  @include media-breakpoint-up(sm) {
//    padding: 0 0 0 0 !important;
//  }
//}

i[class^="bi"] {
  font-size: 1rem;
}

footer , nav{
  i[class^="bi"] {
    font-size: 1.1rem;
    vertical-align: baseline;
  }
}

form {
  input[type="text"],input[type="email"],textarea {
    border-bottom: 1px solid $primary !important;
  }
  input:invalid,textarea:invalid {
    border-bottom: 1px solid $danger !important;
  }
  //input:valid,textarea:valid {
  //  border-bottom: 1px solid $success !important;
  //}
  label.form-label {
    @extend .small;

    i[class^="bi"] {
      font-size: 0.9rem;
    }
  }
}


.btn {
  min-width: 10rem;
  text-align: left;
  @extend .fs-6;

  &:focus-visible {
    box-sizing: border-box;
  }

  i {
    float: right;
    vertical-align: middle;
  }

  &.btn-icon-only {
    &.btn-sm {
      width: 2rem;
      min-width: 2rem;
      height: 2.125rem;
    }

    &.btn-lg {
      height: 4.375rem;
      width: 4.375rem;
      padding-top: $btn-padding-y;
      padding-bottom: $btn-padding-y;
    }

    i {
      float: none;
    }

    --#{$prefix}btn-padding-x: 0;
    --#{$prefix}btn-padding-y: 0;
    min-width: 3rem;
    width: 3rem;
    height: 3.125rem;
    text-align: center;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: initial;
    cursor: not-allowed;
  }

  &.btn-lg {
    padding-top: $btn-padding-y;
    padding-bottom: $btn-padding-y-lg;
  }

  &:focus-visible {
    // todo this needs revision
    //color: #000;
    border-color: $gray-600;
    outline: 1px solid $gray-600;
    outline-offset: 1px;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
    } @else {
      box-shadow: none;
    }
  }

  // todo maybe this needs to be added too
  //.btn-check:focus-visible + & {
  //  border-color: var(--#{$prefix}btn-hover-border-color);
  //  outline: 0;
  //  // Avoid using mixin so we can pass custom focus shadow properly
  //  @if $enable-shadows {
  //    box-shadow: var(--#{$prefix}btn-box-shadow), var(--#{$prefix}btn-focus-box-shadow);
  //  } @else {
  //    box-shadow: var(--#{$prefix}btn-focus-box-shadow);
  //  }
}

ul[class^="dropdown"] {
  @extend .p-0;
}

.card {
  i[class^="bi"] {
    font-size: 1.2rem;
  }

  & .card-text {
    @extend .lh-sm;
  }

  & .card-body {
    min-height: 11.5rem;
    height: 100%;
  }

  &:has(a.card-link) {
    &:hover {
      background-color: $gray-200;
      //@extend .bg-body-tertiary;
    }
  }

  &.card-index {
    //background-color: blue!important;
    &:has(a.card-link) {
      &:hover {
        //background-color: red!important;
        @extend .bg-body-tertiary;
        @extend .text-bg-light;
      }
    }
  }

  & .card-link {
    text-decoration: none;
    @extend .stretched-link;
    @extend .w-100;
    @extend .d-inline-block;

    &:hover {
      text-decoration: underline;
    }

    i {
      @extend .ps-3;
      vertical-align: top;
      //float: right;
    }
  }
}

.min-vh-no-navbar {
  min-height: calc(100vh - 3rem);
}

.height-vh-no-navbar {
  height: calc(100vh - 3rem);
}

#hero {
  @extend .min-vh-no-navbar;
  @extend .height-vh-no-navbar;
  @include media-breakpoint-up(md) {
    height: 75vh;
  }

  .hero-cta {
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
    @include media-breakpoint-only(lg) {
      width: 50%;
    }
  }

  //max-height: 100%;
  & picture img, picture source {
    @include media-breakpoint-only(xs) {
      width: 200px;
      height: 200px;
    }
    @include media-breakpoint-between(sm, lg) {
      width: 100%;
      height: auto;
    }
    @include media-breakpoint-up(md) {
      width: 75%;
      height: auto;
    }
  }

}

.navbar-nav {
  .nav-link {
    //@extend .fw-light;
    &.active {
      @extend .fw-normal
    }
  }
}

.leadspace {
  @extend .container-fluid;
  @extend .position-relative;
  @extend .p-0;
  @debug ($navbar-brand-height + ($navbar-brand-padding-y*2));
  //height: calc(100vh - ($navbar-brand-height + ($navbar-brand-padding-y*2)));
  height: calc(100vh - 55px);

  .lead-media {
    @extend .h-100;
    @extend .bg-dark;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    filter: brightness(0.5);
  }

  .lead-body {
    @extend .h-100;
    @extend .w-100;
    // todo find why this is needed
    @extend .position-absolute;
    @extend .top-0;
    @extend .left-0 !optional;
  }
}



section.container {
  .section-header {
    @extend .col-18;
    @extend .col-sm-18;
    @extend .col-xl-4;

    .section-header-text {
      @extend .fw-bold;
      @extend .mb-0;
      //@extend .lead;
      //@extend .px-sm-3;
    }

  }

  .section-header-full {
    @extend .col-18;

    .section-header-text-full {
      //@extend .pb-sm-4;
      @extend .mb-0;
      @extend .fw-medium;
      @extend .display-6;
    }
  }

  .section-content {
    @extend .col;
  }
}

.blog-post {
  #TableOfContents {
    ul {
      @extend .p-0;
      @extend .m-0;

      li {
        list-style: none;
        @extend .py-2;
        @extend .ps-2;
        border-left: 5px solid $gray-500;
        min-height: 3rem;
        //color:  $gray-300 !important;
        @extend .bg-body-secondary;
        a{
          @extend .small;
          text-decoration: none;
        }
        &.active{
          border-left: 5px solid $primary;
          //color: $primary;
        }
      }
    }
  }
}

.container-alert {
  @extend .container;
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0;
  margin: 0 auto;

  .alert {
    svg {
      vertical-align: sub;
    }

    p {
      @extend .d-inline;
    }
  }
}
// todo find out why this does not work
//.navbar-nav {
//  .nav-link{
//    &:hover{
//      border-bottom: 1px solid black !important;
//    }
//  }
//}
.bg-dark-tooltip {
  --bs-tooltip-bg: var(--bs-white);
  --bs-tooltip-color: var(--bs-black);
}

//li{
//  list-style: square;
//}
#resume-iframe{
  width: 215mm;
  height: 300mm;
  overflow: hidden !important;
  pointer-events: none !important;
  //@extend .w-100;
}
#resumeDownloadLink{
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
  @include media-breakpoint-down(lg) {
    width: 30%;
  }
  @include media-breakpoint-only(lg) {
    width: 30%;
  }
  @include media-breakpoint-only(sm) {
    width: 100%;
  }
}
