// font used
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap";
@import "functions";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css";

// bootstrap configs
$enable-caret:                true !default;
$enable-rounded:              false !default;
$enable-shadows:              false !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-container-classes:    true !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

// typography

$font-size-base:              .875rem !default;
$font-size-sm:                .75rem !default;
$font-size-lg:                1rem !default;
$font-family-sans-serif:      "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif, !default;
$font-family-monospace:       "IBM Plex Mono", sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;

// colors
$gray:      #f4f4f4 !default;
$white:    #fff !default;
$gray-100: #e9ecef !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: $gray !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #393939 !default;
$black:    #000 !default;

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$purple:  #6f42c1 !default;
$red:     #da1e28 !default;
$yellow:  #f1c21b !default;
$green:   #24a148 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "purple":     $purple,
  "red":        $red,
  "yellow":     $yellow,
  "green":      $green,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

// fusv-disable
$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;

$purple-100: tint-color($purple, 80%) !default;
$purple-200: tint-color($purple, 60%) !default;
$purple-300: tint-color($purple, 40%) !default;
$purple-400: tint-color($purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: shade-color($purple, 20%) !default;
$purple-700: shade-color($purple, 40%) !default;
$purple-800: shade-color($purple, 60%) !default;
$purple-900: shade-color($purple, 80%) !default;


$red-100: tint-color($red, 80%) !default;
$red-200: tint-color($red, 60%) !default;
$red-300: tint-color($red, 40%) !default;
$red-400: tint-color($red, 20%) !default;
$red-500: $red !default;
$red-600: shade-color($red, 20%) !default;
$red-700: shade-color($red, 40%) !default;
$red-800: shade-color($red, 60%) !default;
$red-900: shade-color($red, 80%) !default;

$yellow-100: tint-color($yellow, 80%) !default;
$yellow-200: tint-color($yellow, 60%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-400: tint-color($yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 20%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$yellow-800: shade-color($yellow, 60%) !default;
$yellow-900: shade-color($yellow, 80%) !default;

$green-100: tint-color($green, 80%) !default;
$green-200: tint-color($green, 60%) !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 80%) !default;

$blues: (
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800,
  "blue-900": $blue-900
) !default;

$purples: (
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800,
  "purple-900": $purple-900
) !default;

$reds: (
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900
) !default;

$yellows: (
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900
) !default;

$greens: (
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900
) !default;

$min-contrast-ratio:   3 !default;

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $green !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
//scss-docs-end theme-color-variables

//scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

//
//// scss-docs-start theme-text-variables
//$primary-text-emphasis:   shade-color($primary, 60%) !default;
//$secondary-text-emphasis: shade-color($secondary, 60%) !default;
//$success-text-emphasis:   shade-color($success, 60%) !default;
//$info-text-emphasis:      shade-color($info, 60%) !default;
//$warning-text-emphasis:   shade-color($warning, 60%) !default;
//$danger-text-emphasis:    shade-color($danger, 60%) !default;
//$light-text-emphasis:     $gray-700 !default;
//$dark-text-emphasis:      $gray-700 !default;
//// scss-docs-end theme-text-variables
//
//// scss-docs-start theme-bg-subtle-variables
//$primary-bg-subtle:       tint-color($primary, 80%) !default;
//$secondary-bg-subtle:     tint-color($secondary, 80%) !default;
//$success-bg-subtle:       tint-color($success, 80%) !default;
//$info-bg-subtle:          tint-color($info, 80%) !default;
//$warning-bg-subtle:       tint-color($warning, 80%) !default;
//$danger-bg-subtle:        tint-color($danger, 80%) !default;
//$light-bg-subtle:         mix($gray-100, $white) !default;
//$dark-bg-subtle:          $gray-400 !default;
//// scss-docs-end theme-bg-subtle-variables
//
//// scss-docs-start theme-border-subtle-variables
//$primary-border-subtle:   tint-color($primary, 60%) !default;
//$secondary-border-subtle: tint-color($secondary, 60%) !default;
//$success-border-subtle:   tint-color($success, 60%) !default;
//$info-border-subtle:      tint-color($info, 60%) !default;
//$warning-border-subtle:   tint-color($warning, 60%) !default;
//$danger-border-subtle:    tint-color($danger, 60%) !default;
//$light-border-subtle:     $gray-200 !default;
//$dark-border-subtle:      $gray-500 !default;

$enable-dark-mode:            true !default;
$color-mode-type:             data !default; // `data` or `media-query`

// Body
//
// Settings for the `<body>` element.

//$body-text-align:           null !default;
//$body-color:                $gray-900 !default;
//$body-bg:                   $gray !default;
//
//$body-secondary-color:      rgba($body-color, .75) !default;
//$body-secondary-bg:         $gray-200 !default;
//
//$body-tertiary-color:       rgba($body-color, .5) !default;
//$body-tertiary-bg:          $gray-100 !default;
//
////$body-emphasis-color:       $dark !default;


//// Customize the light and dark text colors for use in our color contrast function.
//$color-contrast-dark:      $black !default;
//$color-contrast-light:     $white !default;
// Links
//
// Style anchor elements.
//
//$link-color:                              $primary !default;
//$link-decoration:                         underline !default;
//$link-shade-percentage:                   20% !default;
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
//$link-hover-decoration:                   null !default;
//
//$stretched-link-pseudo-element:           after !default;
//$stretched-link-z-index:                  1 !default;


// spacing

$gutter:                      1rem !default;
$grid-columns:                16 !default;
$grid-gutter-width:           $gutter !default;
$grid-row-columns:            6 !default;

// Container padding

$container-padding-x: $grid-gutter-width !default;
$gutters-cs: (
  0: 0,
  1: 1px,
  2: $gutter * .5,
  3: $gutter,
  4: $gutter * 1.5,
  5: $gutter * 3,
) !default;

$gutters: $gutters-cs !default;
$dropdown-dark-bg:                  $gray-900 !default;
//$input-btn-focus-width:         .25rem !default;
//$input-btn-focus-color-opacity: 0 !default;
//$input-btn-focus-box-shadow:    0 0 0 $input-btn-focus-width $blue !default;

//$input-focus-border-color: $blue !default;

//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1140px,
//  xxl: 1420px
//) !default;
//@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);

//$btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg
//$input-btn-padding-y-lg:      3rem !default;

//$btn-padding-y-sm:            .25rem !default;
//$btn-padding-y:               .75rem !default;
//$btn-padding-y-lg:            1.5rem !default;

$input-btn-padding-y-sm:    .25rem !default;
$input-btn-padding-y:       .75rem !default;
$input-btn-padding-y-lg:    2rem !default;


$input-btn-padding-x-sm:      1rem !default;
$input-btn-padding-x:         1rem !default;
$input-btn-padding-x-lg:      1rem !default;

// scss-docs-start focus-ring-variables
$focus-ring-width:      .1rem !default;
$focus-ring-opacity:    1 !default;
$focus-ring-color:      #000 !default;
$focus-ring-blur:       0 !default;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;

$input-border-color:    #fff !default;
// scss-docs-end focus-ring-variables

$input-btn-focus-width:         $focus-ring-width !default;
$input-btn-focus-color-opacity: $focus-ring-opacity !default;
$input-btn-focus-color:         $focus-ring-color !default;
$input-btn-focus-blur:          $focus-ring-blur !default;
$input-btn-focus-box-shadow:    $focus-ring-box-shadow !default;

//$card-spacer-y:             2rem !default;

$pagination-bg:               transparentize(#f00, 1) !default;
$pagination-border-width:     0 !default;
$pagination-disabled-bg:      transparentize(#f00, 1) !default;
$pagination-active-color:     $black !default;
$pagination-active-bg:        transparentize(#f00, 1) !default;
$pagination-color:            $black !default;

$pagination-padding-y:              .75rem !default;
$pagination-padding-x:              .75rem !default;

////$pagination-disabled-color:
//$btn-hover-bg-shade-amount:       30% !default;
//$btn-hover-bg-tint-amount:        30% !default;
